@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; }

body {
  padding-top: 100px; }

main, section {
  width: 90%;
  margin: 20px auto;
  padding: 10px; }

.generales__titulos {
  color: #b39864;
  font-weight: bold;
  margin-top: 15px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 20px; }

.generales__subTitulos {
  color: #b39864;
  font-weight: bold;
  margin-top: 15px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 20px; }

.generales__centrar {
  display: flex;
  justify-content: center; }

.generales__mediaLink {
  text-decoration: none;
  color: #575759;
  margin-bottom: 20px; }

.generales__mediaLink:hover {
  color: #b39864; }

.generales__email {
  background-image: url(../media/email-icon.png);
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 15px;
  margin-right: 10px; }

.generales__whatsapp {
  background-image: url(../media/wapp-icon.png);
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 15px;
  margin-right: 10px; }

.generales__instagram {
  background-image: url(../media/ig-icon.png);
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 15px;
  margin-right: 10px; }

.generales__importante {
  font-weight: bold; }

@media (max-width: 1056px) {
  body {
    padding-top: 80px; } }

@media (max-width: 480px) {
  main, section {
    width: 100%; }
  .generales__email, .generales__instagram {
    margin-right: 0px;
    margin-top: 0;
    margin-left: 0; } }

/*Agregué position fixed para que el menú siempre esté visible al hacer scroll*/
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px 5% 12px;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 99999;
  background-color: #f5f3ee;
  border-bottom: 1px solid #e6dfd3;
  -webkit-box-shadow: 0px -2px 9px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -2px 9px 5px rgba(0, 0, 0, 0.2); }
  .header__logo {
    width: 80px; }
  .header__botonMenu {
    display: none; }
  .header nav {
    flex: 1; }
  .header__menu {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 0px;
    padding-left: 0px; }
    .header__menu__seleccionada {
      color: #b39864 !important;
      width: 140px !important;
      border-bottom: 3px solid #cfcab0; }
    .header__menu__seleccionada > a {
      color: #b39864 !important; }
    .header__menu__submenu {
      position: absolute;
      background-color: white;
      list-style: none;
      text-align: left;
      display: none;
      justify-content: center;
      z-index: 1000;
      -webkit-box-shadow: 0px 6px 17px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 6px 17px 5px rgba(0, 0, 0, 0.1);
      z-index: 1; }
    .header__menu__submenu li a {
      padding-left: 20px !important;
      border-bottom: 1px solid silver !important; }
    .header__menu__submenu li a:hover {
      color: #b39864;
      opacity: 0.6; }
  .header__menu > li {
    flex: 1;
    margin: 0px 40px; }
  .header__menu li a {
    text-decoration: none;
    display: block;
    padding: 15px 0;
    color: #575759;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: 0.8s; }
  .header__menu > li > a:hover {
    color: #b39864;
    opacity: 0.6; }
  .header__menu li:hover .header__menu__submenu {
    display: block;
    width: 12.5%;
    margin-top: 2px; }

.burgerBtn {
  display: none; }

/* Correcion de estilos bootstrap */
.header__menu, .header__menu__submenu {
  margin-bottom: -24px;
  padding-left: 0px; }

@media (max-width: 1024px) {
  .burgerBtn {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../media/icono-menu.png"); }
  nav {
    display: none; }
  nav:target {
    display: flex; }
  .header {
    justify-content: space-between !important;
    width: 100%;
    align-items: center; }
    .header__logo {
      width: 60px; }
    .header__botonMenu {
      display: block; }
    .header__menu {
      flex-direction: column;
      position: fixed;
      width: 100%;
      left: 0;
      top: 80px;
      background-color: white;
      border-bottom: 1px solid #e6dfd3;
      -webkit-box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.1); }
      .header__menu li {
        margin: 0; }
        .header__menu li a {
          width: 100%; }
      .header__menu__seleccionada {
        width: 100% !important; }
      .header__menu__submenu {
        width: 100% !important;
        -webkit-box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 6px 9px 2px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: #f5f3ee; }
        .header__menu__submenu li a {
          padding-left: 0 !important; } }

.index__productos__titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-bottom: 40px;
  color: #594c34;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 30px; }

.index__productos__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative; }
  .index__productos__contenedor__link {
    text-decoration: none; }
  .index__productos__contenedor__link:hover .index__productos__contenedor__bg__texto {
    display: none; }
  .index__productos__contenedor__bg {
    display: flex;
    width: 200px;
    height: 340px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    text-decoration: none;
    background-color: black; }
    .index__productos__contenedor__bg__texto {
      color: white;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      padding: 10px;
      z-index: 999; }

.index__textoHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #594c34;
  justify-content: center;
  margin: 50px auto; }

.index__textoHome p, .index__textoHome p strong {
  padding-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px; }

.index__textoHome p {
  color: #575759; }

.index__facial {
  position: relative;
  width: 200px;
  height: 340px;
  background-color: #575759;
  text-decoration: none; }

.index__facial::before {
  content: "";
  background-image: url("../media/facial.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  transition: 0.8s; }

.index__facial:hover::before {
  content: "";
  opacity: 1; }

.index__corporal {
  position: relative;
  width: 200px;
  height: 340px;
  background-color: #575759;
  text-decoration: none; }

.index__corporal::before {
  content: "";
  background-image: url("../media/corporal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  transition: 0.8s; }

.index__corporal:hover::before {
  content: "";
  opacity: 1; }

.index__limpieza {
  position: relative;
  width: 200px;
  height: 340px;
  background-color: #575759;
  text-decoration: none; }

.index__limpieza::before {
  content: "";
  background-image: url("../media/limpieza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  transition: 0.8s; }

.index__limpieza:hover::before {
  content: "";
  opacity: 1; }

.index__arcillas {
  position: relative;
  width: 200px;
  height: 340px;
  background-color: #575759;
  text-decoration: none; }

.index__arcillas::before {
  content: "";
  background-image: url("../media/arcillas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  transition: 0.8s; }

.index__arcillas:hover::before {
  content: "";
  opacity: 1; }

/* Correcion de estilos bootstrap */
.slideTitulo {
  font-size: 36px;
  margin-bottom: 15px;
  color: #cfcab0; }

.slideSubtitulo {
  font-size: 20px;
  color: #cfcab0; }

@media (max-width: 480px) {
  .index__productos {
    padding-bottom: 0;
    margin-bottom: 0; }
    .index__productos__titulo {
      margin-bottom: 0;
      text-align: center; }
    .index__productos__contenedor {
      flex-wrap: wrap; }
      .index__productos__contenedor__link {
        margin: 15px 0; }
  .index__section {
    padding: 0 10px; }
  .index__textoHome {
    text-align: center; } }

@media (max-width: 780px) {
  #carousel {
    width: 100%; }
  .index__productos {
    padding-bottom: 0;
    margin-bottom: 0; }
    .index__productos__titulo {
      margin-bottom: 0;
      text-align: center; }
    .index__productos__contenedor {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .index__productos__contenedor__link {
        margin: 15px 0; }
  .index__section {
    padding: 0 10px; }
  .index__textoHome {
    text-align: center; } }

/*En pantallas para IPad, netbook y de escritorio se ve bien y está adaptada*/
.nosotros {
  margin-top: 40px;
  display: grid;
  grid-template-areas: "foto-nosotros  titulo-nosotros" "foto-nosotros  texto-nosotros";
  margin-bottom: 50px;
  grid-template-rows: auto 1fr; }
  .nosotros__titulo {
    grid-area: titulo-nosotros;
    padding-left: 20px; }
  .nosotros__texto {
    grid-area: texto-nosotros;
    line-height: 30px;
    padding-left: 20px; }
    .nosotros__texto__parrafoFinal {
      padding-top: 20px; }
  .nosotros__foto {
    grid-area: foto-nosotros; }

/*Estilos Responsive */
@media (max-width: 480px) {
  .nosotros {
    width: 100% !important;
    grid-template-areas: "titulo-nosotros" "foto-nosotros" "texto-nosotros"; } }

@media (max-width: 1024px) {
  .nosotros {
    margin-top: 0;
    width: 100%;
    grid-template-areas: "titulo-nosotros" "foto-nosotros" "texto-nosotros";
    grid-template-columns: 100%;
    align-items: center;
    margin-bottom: 0; }
    .nosotros__titulo {
      padding-left: 0px; }
    .nosotros__foto img {
      width: 100% !important; }
    .nosotros__texto {
      margin-top: 20px;
      padding-left: 0; } }

.producto {
  display: grid;
  grid-template-areas: "titulo-producto titulo-producto" "foto-producto   descripcion-producto";
  border-top: 1px solid silver;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr [descripcion-producto] 0.1fr;
  padding: 10px;
  margin: 15px 0; }
  .producto__titulo {
    grid-area: titulo-producto;
    padding-bottom: 15px; }
  .producto__foto {
    grid-area: foto-producto; }
  .producto__descripcion {
    grid-area: descripcion-producto;
    padding-left: 20px; }
  .producto__parrafo {
    color: #575759;
    margin: 10px auto;
    line-height: 30px; }
  .producto__precio {
    font-size: 24px;
    color: #b39864; }

@media (max-width: 480px) {
  .producto {
    grid-template-areas: "titulo-producto" "foto-producto" "descripcion-producto";
    padding: 0; }
    .producto__descripcion {
      padding: 0; } }

.cuidados {
  display: grid;
  grid-template-areas: "titulo-principal titulo-principal titulo-principal titulo-principal" "foto-cuidados1 titulo-cuidados1 foto-cuidados2 titulo-cuidados2" "foto-cuidados1 texto-cuidados1 foto-cuidados2 texto-cuidados2"; }
  .cuidados__tituloPrincipal {
    grid-area: titulo-principal;
    border-bottom: 1px solid silver; }
  .cuidados__titulo1 {
    grid-area: titulo-cuidados1;
    padding-top: 30px;
    padding-left: 25px; }
  .cuidados__texto1 {
    grid-area: texto-cuidados1;
    padding-left: 25px; }
    .cuidados__texto1__linkLeer {
      text-decoration: none;
      color: #b39864; }
    .cuidados__texto1__linkLeer:hover {
      color: #594c34; }
  .cuidados__foto1 {
    grid-area: foto-cuidados1;
    padding-top: 50px; }
  .cuidados__titulo2 {
    grid-area: titulo-cuidados2;
    padding-top: 30px;
    padding-left: 25px; }
  .cuidados__texto2 {
    grid-area: texto-cuidados2;
    padding-left: 25px; }
    .cuidados__texto2__linkLeer {
      text-decoration: none;
      color: #b39864; }
    .cuidados__texto2__linkLeer:hover {
      color: #594c34; }
  .cuidados__foto2 {
    grid-area: foto-cuidados2;
    padding-top: 50px;
    padding-left: 10px;
    padding-left: 50px; }

@media (max-width: 1024px) {
  main {
    margin-bottom: 0;
    margin-bottom: 0; }
  section {
    margin-top: 0;
    padding-top: 0; }
  .cuidados {
    grid-template-areas: "titulo-principal" "titulo-cuidados1" "foto-cuidados1" "texto-cuidados1" "titulo-cuidados2" "foto-cuidados2" "texto-cuidados2"; }
    .cuidados__titulo1 {
      padding: 0; }
    .cuidados__texto1 {
      padding: 15px 0;
      margin-top: 0; }
    .cuidados__foto1 {
      padding: 0; }
    .cuidados__titulo2 {
      padding: 0; }
    .cuidados__texto2 {
      padding: 15px 0; }
    .cuidados__foto2 {
      padding: 0; } }

.articulos {
  display: flex;
  justify-content: space-between; }
  .articulos__articulo {
    width: 65%; }
    .articulos__articulo__imagen {
      display: block;
      float: left;
      margin-right: 15px; }
    .articulos__articulo__contenido {
      margin-top: 20px; }
  .articulos__otros {
    width: 20%;
    border-left: 1px solid #dfdada;
    padding-left: 35px; }
    .articulos__otros__links {
      list-style-type: none;
      padding: 0px; }
    .articulos__otros__links > li {
      margin-bottom: 15px; }
    .articulos__otros__links > li > a {
      text-decoration: none;
      color: #b39864;
      font-family: "Playfair Display", serif;
      font-size: 20px;
      line-height: 10px; }
    .articulos__otros__links > li > a:hover {
      text-decoration: underline; }
    .articulos__otros__links > li > .actual {
      color: #594c34; }

@media (max-width: 1024px) {
  .articulos__otros {
    display: none; }
  .articulos__articulo {
    width: 100%; }
  img {
    margin-bottom: 5px; } }

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 0; }
  .contacto__imagen {
    background-color: white;
    opacity: 0.8; }
  .contacto__formulario {
    width: 300px; }
  .contacto__formulario__grupo {
    margin: 15px 0; }
    .contacto__formulario__grupo input, .contacto__formulario__grupo textarea {
      border: none;
      border-bottom: 1px solid #b39864;
      padding: 10px;
      width: 100%; }
    .contacto__formulario__grupo .botonEnviar {
      text-decoration: none;
      background-color: #b39864;
      color: white;
      font-weight: bold;
      width: 100%;
      border: none;
      padding: 10px; }
    .contacto__formulario__grupo .botonEnviar:hover {
      background-color: #cfcab0; }

/* Estilos Responsive*/
@media (max-width: 1024px) {
  .contacto {
    flex-direction: column;
    padding: 0 20px;
    margin-top: 25px; }
    .contacto__imagen {
      display: none; }
    .contacto__formulario {
      width: 100%;
      margin-top: 20px; }
    .contacto__media {
      display: none; } }

.footer {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  border-top: 1px solid silver; }
  .footer__contenido {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between; }
    .footer__contenido__alondra {
      width: 80%; }
      .footer__contenido__alondra__titulo {
        color: #594c34;
        padding-bottom: 20px; }
      .footer__contenido__alondra__parrafo {
        color: #575759;
        font-size: 14px;
        width: 70%; }
    .footer__contenido__contacto {
      display: flex;
      flex-direction: column;
      width: 40%; }
  .footer__derechos > p {
    color: #575759;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 50px; }

@media (max-width: 1164px) {
  .footer__contenido__alondra {
    width: 50%; }
    .footer__contenido__alondra__parrafo {
      width: 90%; }
  .footer__contenido__contacto {
    width: 50%; } }

@media (max-width: 780px) {
  .footer {
    width: 100%;
    padding: 0 10px; }
    .footer__contenido {
      display: flex;
      flex-direction: column; }
      .footer__contenido__alondra {
        width: 100%; }
      .footer__contenido__alondra__parrafo {
        width: 100%; }
      .footer__contenido__contacto {
        width: 100%; }
        .footer__contenido__contacto__titulo {
          margin-top: 20px;
          width: 100%; }
    .footer__derechos > p {
      margin-top: 0;
      width: 100%; } }

.error {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .error__imagen {
    padding: 30px 0; }
  .error__404 {
    text-align: center;
    color: #413838;
    padding-bottom: 30px;
    font-size: 50px; }
  .error__parrafo {
    color: #534343;
    padding-bottom: 30px; }

.go-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  background-color: gray;
  font-weight: bold;
  border: none;
  padding: 10px; }

.go-home > a {
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center; }

.go-home:hover {
  background-color: silver; }

@media (max-width: 480px) {
  .error__parrafo {
    text-align: center; } }
