.contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0 50px;
    &__imagen {
        background-color: white;
        opacity: 0.8;
    }
    &__formulario {
        width: 300px;
    }
    &__formulario__grupo {
        margin: 15px 0;
        input, textarea {
            border: none;
            border-bottom: 1px solid $marronIntermedio;
            padding: 10px;
            width: 100%;
        }
        .botonEnviar {
            display: block;
            text-align: center;
            text-decoration: none;
            background-color: $marronIntermedio;
            color: white;
            font-weight: bold;
            width: 100%;
            border: none;
            padding: 10px;
        } 
        .botonEnviar:hover {
            background-color: $marronClaro;
        }
        
    }
}

/* Estilos Responsive*/

@media (max-width: 1024px) {
    .contacto {
        margin-top: 0;
        &__imagen {
            display: none;
        }
        flex-direction: column;
        padding: 0 20px;
        margin-top: 25px;
        &__formulario {
            width: 100%;
            margin-top: 0px;
        }
        &__media {
            display: none;
        }
    }
}
