* {
    margin: 0;
    padding: 0;
    font-family: $fuentePrimaria;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

main, section {
    width: $anchoTotal - $margenGeneral;
    margin: 20px auto;
    padding: 10px;
    animation-duration: 1s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from {
        opacity: 0;
        margin-top: 40px;
    }
    to {
        opacity: 1;
        margin-top: 20px;
    }
}

.generales__titulos {
    color: $marronIntermedio;
    font-weight: bold;
    margin-top: 15px;
    font-family: $fuenteSecundaria;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 20px;
}

.generales__subTitulos {
    color: $marronIntermedio;
    font-weight: bold;
    margin-top: 15px;
    font-family: $fuenteSecundaria;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
}

.generales__centrar {
    display: flex;
    justify-content: center;
}

.generales__mediaLink {
    text-decoration: none;
    color: $grisOscuro;
    margin-bottom: 20px;
}

.generales__mediaLink:hover {
    color: $marronIntermedio;
}

@each $clase, $icon in $media {
    .generales__#{$clase} {
        background-image: url(../media/#{$icon}.png);
        display: inline-block;
        width: 15px;
        height: 15px;
        background-size: 15px;
        margin-right: 10px;
    }
}

.generales__importante {
    font-weight: bold;
}

/* Estilos Responsive*/

@media (max-width: 1056px) {
    body {
        padding-top: 80px;
    }
}

@media (max-width: 480px) {
    main, section {
        width: 100%;
        padding: 10px 15px;
    }

    .generales__email, .generales__instagram {
        margin-right: 0px;
        margin-top: 0;
        margin-left: 0;
    }
    
}

/* Estilos para scroll */

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width:10px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}

