
/*Agregué position fixed para que el menú siempre esté visible al hacer scroll*/

.header {
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 5% 12px;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 99999;
    background-color: rgb(245, 243, 238);
    border-bottom: 1px solid rgb(230, 223, 211);
    -webkit-box-shadow: 0px -2px 9px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px -2px 9px 5px rgba(0,0,0,0.2);
    &__logo {
        width: 80px;
    }
    &__botonMenu {
        display: none;
    }
    nav {
        flex: 1;
    }
    &__menu {
        list-style-type: none;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding-bottom: 10px;
        margin-bottom: 0px;
        padding-left: 0px;
        &__seleccionada { 
            color: $marronIntermedio!important;
            width: 140px!important;
            border-bottom: 3px solid $marronClaro;
        }
        &__seleccionada > a { 
            color: $marronIntermedio!important;
        }
        &__submenu {
            position: absolute;
            background-color: white;
            list-style: none;
            text-align: left;
            display: none;
            justify-content: center;
            z-index: 1000;
            -webkit-box-shadow: 0px 6px 17px 5px rgba(0,0,0,0.1); 
            box-shadow: 0px 6px 17px 5px rgba(0,0,0,0.1);
            z-index: 1;
        }
        &__submenu li a {
            padding-left: 20px!important;
            border-bottom: 1px solid $grisClaro!important;
        }
        &__submenu li a:hover {
            color: $marronIntermedio;
            opacity: 0.6;
        }
    }
    &__menu > li {
        flex: 1;
        margin: 0px 40px;
    }
    &__menu li a {
        text-decoration: none;
        display: block;
        padding: 15px 0;
        color: $grisOscuro;
        font-weight: bold;
        border-bottom: 1px solid transparent;
        transition: 0.8s;
    }
    &__menu > li > a:hover {
        color: $marronIntermedio;
        opacity: 0.6;
    }
    &__menu li:hover .header__menu__submenu { 
        display: block;
        width: $anchoTotal / 8;
        margin-top: 2px;
    }
}

/* Correcion de estilos bootstrap */

.header__menu, .header__menu__submenu {
    margin-bottom: -24px;
    padding-left: 0px;
}

//Estilos Responsive

@media (max-width: 1024px) {
    nav {
        display: none;
    }
    .header {
        justify-content: space-between!important;
        width: 100%;
        align-items: center;
        &__logo {
            width: 60px;
        }
        &__botonMenu {
            display: block;
        }
        &__menu {
            flex-direction: column;
            position: fixed;
            width: 100%;
            left: 0;
            top: 80px;
            background-color: white;
            border-bottom: 1px solid rgb(230, 223, 211);
            -webkit-box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.1); 
            box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.1);
            li {
                margin: 0;
                a {
                    width: 100%;
                }
            }
            
            &__seleccionada {
                width: 100%!important;
            }
            &__submenu {
                width: 100%!important;
                -webkit-box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.1); 
                box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.1);
                text-align: center;
                background-color: rgb(245, 243, 238);
                li a {
                    padding-left: 0!important;
                }
            }
        }
    }
    
}
