.header {
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 5% 12px;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 99999;
    background-color: rgb(245, 243, 238);
    border-bottom: 1px solid rgb(230, 223, 211);
    -webkit-box-shadow: 0px -2px 9px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px -2px 9px 5px rgba(0,0,0,0.2);
    &__logo {
        width: 80px;
        margin-right: 80px;
    }
    &__botonMenu {
        display: none;
    }
    nav {
        flex: 1;
    }
    &__menu {
        list-style-type: none;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding-bottom: 10px;
        margin-bottom: 0px;
        padding-left: 0px;
        &__seleccionada { 
            color: $marronIntermedio!important;
            width: 140px!important;
            border-bottom: 3px solid $marronClaro;
        }
        &__seleccionada > a { 
            color: $marronIntermedio!important;
        }
        &__submenu {
            position: absolute;
            background-color: white;
            list-style: none;
            text-align: left;
            display: none;
            justify-content: center;
            -webkit-box-shadow: 0px 6px 17px 5px rgba(0,0,0,0.1); 
            box-shadow: 0px 6px 17px 5px rgba(0,0,0,0.1);
            z-index: 1;
        }
        &__submenu li a {
            padding-left: 20px!important;
            border-bottom: 1px solid $grisClaro!important;
        }
        &__submenu li a:hover {
            color: $marronIntermedio;
            opacity: 0.6;
        }
        &__carrito-container {
            position: relative;
        }
        &__carrito {
            border-radius: 50%;
            background-image: url(../media/carrito.jpg);
            width: 50px;
            height: 50px;
            margin: 0px auto;
            background-size: 50px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            cursor: pointer;
            opacity: 0.7;
            &__cantidad {
                position: absolute;
                top: -5px;
                right: -5px;
                display: flex;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                color: white;
                justify-content: center;
                font-size: 10px;
                align-items: center;
                background-color: rgb(58, 144, 47);
            }
            &__detalle {
                position: absolute;
                background-color: white;
                width: 350px;
                top: 55px;
                right: 20px; 
                -webkit-box-shadow: 0px 6px 17px 5px rgba(0,0,0,0.1); 
                box-shadow: 0px 6px 17px 5px rgba(0,0,0,0.1);
                z-index: 1;
                display: none;
                &__productos {
                    list-style-type: none;
                    padding-left: 0;
                    &__item {
                        display: grid;
                        grid-template-areas: 
                            "nombre-producto subtotol-producto eliminar-producto";
                        grid-template-columns: 2fr 0.9fr 0.25fr;
                        padding: 10px 5px;
                        font-size: 14px;
                        border-top: 1px solid rgb(216, 216, 216);
                        padding: 10px;
                    }
                    &__vacio {
                        padding: 10px; 
                        color: gray;
                        background-color: rgb(243, 243, 243);
                    }
                    &__nombre {
                        grid-area: nombre-producto;
                        text-align: left;
                    }
                    &__subtotal {
                        grid-area: subtotol-producto;
                        text-align: right;
                    }
                    &__eliminar {
                        grid-area: eliminar-producto;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        button {
                            color: white;
                            background-color: rgb(233, 138, 138);
                            padding: 3px 6px;
                            border-radius: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 6px;
                            border: none;
                        }
                    }
                }
                &__total {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 15px;
                    font-size: 14px;
                    border-top: 1px solid silver;
                    background-color: rgb(235, 235, 235);
                }
                &__botones {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    border-top: 1px solid silver;
                    &__checkout, &__vaciar {
                        color: white;
                        padding: 5px 15px;
                        font-size: 12px;
                        border: none;
                        border-radius: 5px;
                    }
                    &__checkout {
                        background-color: rgb(58, 144, 47);
                    }
                    &__vaciar {
                        background-color: rgb(187, 103, 100);
                    }
                }
            }
        }
    }
    &__menu > li {
        flex: 1;
        margin: 0px 40px;
    }
    &__menu li a {
        text-decoration: none;
        display: block;
        padding: 15px 0;
        color: $grisOscuro;
        font-weight: bold;
        border-bottom: 1px solid transparent;
        transition: 0.8s;
    }
    &__menu > li > a:hover {
        color: $marronIntermedio;
        opacity: 0.6;
    }
    &__menu li:hover .header__menu__submenu { 
        display: block;
        width: $anchoTotal / 8;
        margin-top: 2px;
    }
}

.burgerBtn {
    display: none;
}

/* Correcion de estilos bootstrap */

.header__menu, .header__menu__submenu {
    margin-bottom: -24px;
    padding-left: 0px;
}

/* Estilos Responsive*/

@media (max-width: 1024px) {
    .burgerBtn {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url('../media/icono-menu.png');
    }
    nav {
        display: none;
    }
    nav:target {
        display: flex;
    }
    .header {
        justify-content: space-between!important;
        width: 100%;
        align-items: center;
        &__logo {
            width: 60px;
        }
        &__botonMenu {
            display: block;
        }
        &__menu {
            flex-direction: column;
            position: fixed;
            width: 100%;
            left: 0;
            top: 80px;
            background-color: white;
            border-bottom: 1px solid rgb(230, 223, 211);
            -webkit-box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.1); 
            box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.1);
            li {
                margin: 0;
                a {
                    width: 100%;
                }
            }
            
            &__seleccionada {
                width: 100%!important;
            }
            &__submenu {
                width: 100%!important;
                -webkit-box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.1); 
                box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.1);
                text-align: center;
                background-color: rgb(245, 243, 238);
                li a {
                    padding-left: 0!important;
                }
            }
        }
    }
    
}
