.nosotros {
    margin-top: 20px;
    display: grid;
    grid-template-areas: 
        "foto-nosotros  titulo-nosotros"
        "foto-nosotros  texto-nosotros";
    margin-bottom: 50px;
    grid-template-rows: auto 1fr;
    &__titulo {
        grid-area: titulo-nosotros;
        padding-left: 20px;
    }
    &__texto {
        grid-area: texto-nosotros;
        line-height: 30px;
        padding-left:20px;
        &__parrafoFinal {
            padding-top: 20px;
        }
    }
    &__foto {
        grid-area: foto-nosotros;
    }
}

/*Estilos Responsive */ 

@media (max-width: 480px) {
    .nosotros {
        padding: 0 15px;
        width: 100%!important;
        grid-template-areas: 
        "titulo-nosotros"
        "foto-nosotros"
        "texto-nosotros";
    }
}

@media (max-width: 1024px) {
    .nosotros {
        width: 100%;
        grid-template-areas: 
        "titulo-nosotros"
        "foto-nosotros"
        "texto-nosotros";
        grid-template-columns: 100%;
        align-items: center;
        margin-bottom: 0;
        &__titulo {
            padding-left: 0px;
        }
        &__foto img {
            width: 100%!important;
        }
        &__texto {
            margin-top: 20px;
            padding-left: 0;
        }
    }
}



