.articulos {
    display: flex;
    justify-content: space-between;
    &__articulo {
        width: 65%;
        
        &__imagen {
            display: block;
            float: left;
            margin-right: 15px;
        } 
        &__contenido {
            margin-top: 20px;
        }
    }
    &__otros {
        width: 20%;
        border-left: 1px solid rgb(223, 218, 218);
        padding-left:35px;
        &__links {
            list-style-type: none;
            padding: 0px;
        }
        &__links > li {
            margin-bottom: 15px;
        }
        &__links > li > a {
            text-decoration: none;
            color: $marronIntermedio;
            font-family: $fuenteSecundaria;
            font-size: 20px;
            line-height: 10px;
        }
        &__links > li > a:hover {
            text-decoration: underline;
        }

        &__links > li > .actual {
            color: $marronOscuro;
        }

    }
}

//Estilos Responsive

@media (max-width: 1024px) {
    .articulos__otros {
        display: none;
    }
}

img {
    margin-bottom: 15px;
}