$fuentePrimaria: 'Montserrat', sans-serif;
$fuenteSecundaria: 'Playfair Display', serif;
$marronOscuro: #594c34;
$marronIntermedio: #b39864;
$marronClaro: rgb(207, 202, 176);
$grisOscuro: #575759;
$grisClaro: silver;

$anchoTotal: 100%;
$margenGeneral: 10%;

$productos: facial, corporal, limpieza;

$media: (
    email: email-icon,
    whatsapp: wapp-icon,
    instagram: ig-icon,
);
